*{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
.header {
	height: 200px;
	width: 1100;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	height: 100px;
}
.menu > ul{
	display: flex;
	text-transform: uppercase;
}
.menu > ul li {
	list-style: none;
	padding: 5px 20px;
	border-bottom: 2px transparent;
}
.menu > ul li:hover {
	border-bottom: 2px solid #CCC;
	color: #666;
}
.container {
	display: flex;	
	width: 1100px;
	margin: 0 auto;
}
.conteudo{
	height: 400px;
	width: 800px;
	background: purple;
}
.menu-lateral{
	width: 300px;
	height: 400px;
	background: orange;

}
footer {
	height: 100px;
	width: 1060px;
	background: blue;
	margin: 0 auto;
	padding: 40px 20px;
}